/* You can add global styles to this file, and also import other style files */
html {
    box-sizing: border-box
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    font-size: 16px;
    background-color: #fff;
    color: #000;
}
.wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
}
.alert {
    color: red;
}
.success {
    color: green;
}